/* Global */

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav"
    "post post as"
    "pn . ."
    ". ft .";
  color: #2d3f4b;
}

.topbar {
  grid-area: nav;
}

.post-wrapper {
  grid-area: post;
}

.prev-next {
  grid-area: pn;
}

aside {
  grid-area: as;
}

.bottom {
  grid-area: ft;
}

a {
  text-decoration: none;
}

/* Nav/Header */

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c6e0f0;
}

header {
  line-height: 15px;
  flex: 1;
  order: 1;
  padding-left: 100px;
}

header h1 {
  font-family: "Indie Flower", cursive;
  font-size: 25px;
  color: #2d3f4b;
}

header h2 {
  font-size: 15px;
  color: #3e596b;
}

nav {
  flex: end;
  order: 2;
  padding-right: 50px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-flex;
  flex-direction: row;
  color: #4b6b80;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

nav li:hover {
  background-color: #6a99b8;
}

button {
  background-color: #b5c3cc;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #4b6b80;
}

button:active {
  background-color: #b5c3cc;
}

img {
  width: 100%;
  max-width: 600px;
}

section {
  margin: 50px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prev-next {
  margin: 0;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 50px;
}

aside a {
  color: #091720;
}

.box-1 {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.box-1 img {
  min-width: 250px;
  max-width: 350px;
}

.box-2 h3 {
  text-align: center;
}

.box-2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* text-align: center; */
}

.box-3 {
  padding-top: 20px;
}

.box-3 h3 {
  text-align: center;
}

.socials {
  margin-top: 30px;
  font-size: 25px;
}

.fa {
  padding: 10px;
}

.post-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  text-shadow: 2px 2px 10px #0c1216;
}

.bottom {
  text-align: center;
}

footer p {
  font-size: 18px;
  margin: 50px;
}

@media (min-width: 900px) and (max-width: 1300px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 200px) and (max-width: 899px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav li {
    font-size: 13px;
  }
  nav {
    margin: 10px;
    white-space: nowrap;
  }
  .topbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .topbar h2 {
    font-size: 11px;
    text-align: center;
  }
  .topbar h1 {
    white-space: nowrap;
    font-size: 20px;
  }
  header {
    padding-left: 0;
  }
  button {
    padding: 10px 25px;
    font-size: 10px;
  }
}
