/**** Global ****/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/**** Navigation ****/

.navigation {
  display: flex;
  justify-content: center;
  background-color: rgba(125, 194, 211, 0.3);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-flex;
  flex-direction: row;
  color: rgb(78, 107, 136);
  padding: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

nav li:hover {
  background-color: rgba(125, 194, 211, 0.3);
}

nav a:visited {
  color: rgb(68, 120, 160);
}

/**** Blog Post Link ****/

.post-content a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.post-content a:hover {
  color: rgb(236, 246, 255);
}

button {
  background-color: rgb(125, 166, 177);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
  box-shadow: 0 3px 10px #333;
}

button:hover {
  background-color: rgb(92, 153, 167);
}

button:active {
  background-color: rgb(139, 221, 241);
}

img {
  width: 100%;
}

/**** Sections ****/

section {
  padding: 0;
  margin: 30px;
  text-align: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 500px;
  grid-gap: 10px;
  margin: 0;
}

header {
  width: 70%;
  margin: 30px auto;
}

header h1 {
  margin: 0;
  font-size: 55px;
  color: rgba(52, 73, 94, 1);
  font-weight: 500;
}

header h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.photo-cred {
  font-size: 17px;
  font-weight: 600;
  color: rgb(235, 235, 235);
  text-shadow: 1px 1px rgb(0, 0, 0);
}

/**** Blog Post Cards ****/

.blog-post {
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  padding: 0;
  max-height: 500px;
}

.post-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(0, 19, 36, 1) 25%,
    rgba(100, 210, 249, 0) 100%
  );
}

.post-content h2,
.post-content p {
  text-shadow: 1px 1px rgb(10, 10, 10);
}

.post-content a {
  color: #fff;
}

.post-content a:visited {
  color: #ccc;
}

/**** Footer Menu *****/

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  background-color: rgba(125, 194, 211, 0.3);
}

.box-1 li {
  list-style: none;
  color: rgba(52, 73, 94, 1);
  padding: 5px;
}

.box-1 ul {
  padding-left: 0;
}

.box-1,
.box-2,
.box-3 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-1 a,
.box-3 a {
  color: rgba(52, 73, 94, 1);
}

.box-1 a:hover,
.box-3 a:hover {
  color: rgb(139, 186, 233);
}

.box-1 {
  flex: 1;
  order: 1;
}

.box-2 {
  flex: 1;
  order: 2;
}

.photo-cred-ft {
  font-size: 16px;
  font-weight: 500;
  color: rgb(83, 83, 83);
}

.box-2 img {
  width: 300px;
  margin: 15px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px #333;
}

.box-3 {
  flex: 1;
  order: 3;
}

/**** Social Icons ****/

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 25px;
  background-color: rgba(125, 194, 211, 0.3);
}

.fa {
  padding: 20px;
  color: rgb(109, 178, 194);
}

.fa:hover {
  color: rgb(160, 227, 241);
}

/**** Imports ****/

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .post-content {
    bottom: 0;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  header {
    width: 90%;
  }
  footer {
    flex-direction: column;
  }
  .box-1 {
    order: 2;
  }
  .box-2 {
    order: 1;
  }
  .post-content {
    bottom: 0;
  }
}

@media (min-width: 400px) {
  main {
    grid-template-columns: 1fr;
  }
  nav li {
    padding: 15px;
    font-size: 16px;
  }
  header h1 {
    font-size: 2.5rem;
  }
  header h2 {
    font-size: 1.2rem;
  }
}
